.pointer {
    display: block;
    width: 15px;
    height: 30px; 
    position: relative;
    margin-left: 4px;
    background-color: #36354e;
    color: white;
    left: 10px;
  }
  
  .pointer:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 15px solid white; 
    border-top: 15px solid transparent; 
    border-bottom: 15px solid transparent;
  }
  
  .pointer:before {
    content: "";
    position: absolute;
    left: -14.3px; 
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 15px solid #36354e; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
  }

  .loader {
    border: 6px solid #f3f3f3; 
    border-top: 6px solid #000000; 
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  